<mat-card>
    <mat-card-title>Login</mat-card-title>
    <form [formGroup]="loginForm">
        <mat-card-content>
            <div class="columns">
                <div class="column is-two-fifth">
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username">
                    </mat-form-field>
                </div>
            </div>
            <div class="columns">
                <div class="column is-two-fifth">
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button type="submit" (click)="login()" [disabled]="!loginForm.valid" color="primary">Login</button>
        </mat-card-footer>
    </form>
</mat-card>