<div *ngIf="(data | async) as data">
    <table matSort mat-table [dataSource]="data._items" [matSortActive]="orderBy" [matSortDirection]="direction" (matSortChange)="onSort($event)">
        <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
            <ng-container *ngIf="column !== 'actions'; else actionColumn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
                <td mat-cell *matCellDef="let element"> {{getColumnValue(element, column)}} </td>
            </ng-container>

            <ng-template #actionColumn>
                <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="editOrder(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteOrder(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-template>

        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
    </table>
    <mat-paginator [length]="data._meta.total" [pageSize]="data._meta.max_results" [pageIndex]="data._meta.page - 1"
        (page)="onPage($event)">
    </mat-paginator>
</div>